
/*
 * [How TO - Shake an Image]
 * https://www.w3schools.com/howto/howto_css_shake_image.asp
 */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes hovering {
  0% { padding: 0; }
  50% { padding: 10px; }
  100% { padding: 0; }
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn.refresh {
  margin: 10px;
  padding: 3px 5px;
  border: 3px solid #5C9DF2;
  background-color: transparent;
  color: #5C9DF2;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 100ms ease;
}

.btn.refresh:hover {
  background-color: #5C9DF2;
  color: white;
}

#author {
  position: absolute;
  top: 10px;
  left: 10px;
}

#game-title {
  width: 300px;
  height: 300px;
  background-color: #5C9DF2;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-title h1 {
  color: white;
}

#game-title button {
  margin: 10px;
  padding: 3px 5px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  transition: all 100ms ease;
}

#game-title button:hover {
  background-color: white;
  color: #5C9DF2;
}

.tic.tac.toe {
  display: flex;
  flex-direction: column;
  margin: 30px;

  border: 10px solid #F2F2F2;
  border-radius: 10px;
  padding: 5px;

  transition: all 300ms ease;
}

.tic.tac.toe:hover {
  animation: hovering 500ms infinite;
  border-color: #0D65D9;
}

.tic.tac.toe:active {
  animation: shake 0.5s;
}

.tic.tac.toe .row {
  display: flex;
  flex-direction: row;
}

.tic.tac.toe .tile {
  min-width: 100px;
  min-height: 100px;

  margin: 3px;
  border: 5px solid transparent;
  border-radius: 10px;

  transition: all 300ms ease;
  cursor: pointer;

  font-size: 50px;
  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #567791;
}

.tic.tac.toe .tile:hover {
  border-color: #5C9DF2;
}

.tic.tac.toe .tile.active {
  background-color: #F2836B !important;
}

.tic.tac.toe .tile:nth-child(even) {
  background-color: #99C0DD;
}


.tic.tac.toe .row:nth-child(even) .tile {
  background-color: #99C0DD;
}

.tic.tac.toe .row:nth-child(even) .tile:nth-child(even) {
  background-color: #567791;
}

.tic.tac.toe .tile.highlight {
  background-color: #E3B5B4;
}

.tic.tac.toe.game-over {
  border-color: #F2594B;
}

.tic.tac.toe.game-over:hover {
  animation: none;
}
